@font-face {
    font-family: norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.sidebar-container {
    position: relative;
    width: 35vw;
    height: 100vh;
    background-image: url("./assets/rainforest-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(0 0 0 / 40%);
    top: 16rem;
    text-align: center;
    color: white;
}

.logo-image {
    display: flex;
    height: 80%;
    width: auto;
}

.logo-text {
    display: flex;
    font-family: norse-bold;
    font-size: 8rem;
}

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 1%;
    text-align: center;
    color: white;
}
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.quote-block {
    background-color: #f3f3f3;
    padding-left: 64px;
    height: 30vh;
}

.create-account {
    background-color: #f3f3f3;
    padding-left: 64px;
    height: 30vh;
}

.signup-form-container {
    padding-left: 64px;
}