@font-face {
    font-family: norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

P {
    font-size: 24px;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.sidebar-container {
    position: relative;
    width: 35vw;
    height: 100vh;
    background-image: url("./assets/rainforest-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(0 0 0 / 40%);
    top: 16rem;
    text-align: center;
    color: white;
}

.logo-image {
    display: flex;
    height: 80%;
    width: auto;
}

.logo-text {
    display: flex;
    font-family: norse-bold;
    font-size: 8rem;
}

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 1%;
    text-align: center;
    color: white;
}
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.quote-block {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: center;
    z-index: 2;
    background-color: #f3f3f3;
    padding: 0px 256px 64px 64px;
    height: 30vh;
}

.create-account-container {
    background-color: #f3f3f3;
    padding-top: 64px;
    padding-left: 64px;
    height: 30vh;
}

.signup-form-container {
    padding-left: 64px;
    z-index: 1;
    box-shadow: 0px 0px 24px #808080;
}

#quote {
    font-weight: bold;
}

#call-to-action {
    font-weight: bold;
    padding-top: 32px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(49, 49, 49, 0.700);
}

td {
    padding-right: 128px;
    padding-bottom: 64px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    width: 256px;
    height: 24px;
    font-size: 12px;
    padding: 0 6px;
}

input:focus {
    outline: none !important;
    border:1px solid rgb(60, 60, 214);
    box-shadow: 2px 2px 2px #bbbbbb;
}

input:invalid {
    border:1px solid red;
}

caption {
    text-align: left;
    padding-bottom: 32px;
    padding-top: 24px;
    font-weight: bold;
}

.create-account-btn {
    padding: 12px 32px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
    box-shadow: 4px 8px 16px grey;
}

.account-text {
    padding-top: 32px;
    font-size: 2rem;
}

#test {
    font-size: 16px;
}

#log-in-link {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}